<h1>週次レポート一覧</h1>

<%= link_to "新しいレポートを生成", new_weekly_report_path, class: "button" %>

<% if @reports.empty? %>
  <p>レポートがまだありません。</p>
<% else %>
  <ul>
    <% @reports.each do |report| %>
      <li>
        <%= render WeeklySummaryCardComponent.new(report: report) %>
        <%= link_to "詳細", weekly_report_path(report) %>
      </li>
    <% end %>
  </ul>
<% end %>
